@using CompanyCall.Models.Entity;

@{
    ViewBag.Title = "InactiveCall";
    Layout = "~/Views/Shared/CompanyLayout.cshtml";
}

<h2>Inactive Call</h2>
<table class="table table-bordered">

    <tr>
        <th>Date
        <th>Subject</th>

        <th>Details</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Dates</td>
            <td>@x.Subjects</td>
            <td><a href="/Default/InCallDetails/@x.ID" class="btn btn-info">Details</a></td>

        </tr>

    }


</table>
<a href="/Default/NewCall" class="btn btn-primary">New Call</a>



