@using CompanyCall.Models.Entity
@model List<InCall>
 

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-bell-o"></i><span class="badge blue">@ViewBag.totalActCall</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="notification_header">
                <h3>You have today new calls notifications</h3>
            </div>
        </li>

        @foreach (var y in Model)
        {
            <li>
                <a href="/Defalut/InCallDetails" class="grid">
                    <div class="user_img"><img src="~/web2/web2/starter/assets/images/icons8_notification_60px.png" alt=""></div>
                    <div class="notification_desc">
                        <p>@y.Subjects</p>
                        <span>@y.Descriptions</span>
                    </div>
                </a>
            </li>
        }

        <li>
            <div class="notification_bottom">
                <a href="/Default/ActiveCall" class="bg-primary">See all notifications</a>
            </div>
        </li>
    </ul>
</li>


